#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-roomAssociatedName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-DeviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-isFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Devices_ON_Grid .s-isActiveSymbo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-iconDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-LabelDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-iconMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-LabelMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-iconMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-LabelMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-iconCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-LabelCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Under_line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-DevicesOnTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-CancelButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-roomChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-roomChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-favoriteChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-favoriteChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-deviceChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-deviceChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a #s-NoDevices {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02ba219b-fb2e-4f07-8009-6141269d040a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}