#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0598fa30-8287-4d19-aa25-371abe86a25c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}