#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-roomAssociatedName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-DeviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-isFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-My_Favourites_Grid .s-isActiveSymbo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-iconDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-LabelDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-iconMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-LabelMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-iconMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-LabelMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-iconCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-LabelCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-Under_line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-MyFavouritesTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-CancelButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-roomChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-roomChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-favoriteChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-favoriteChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-deviceChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-deviceChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 #s-NoDevices {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-07544f36-c9d8-4e04-ba7e-86667107a097 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}