#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-SelectRoomTitle {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-Rectangle_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-Rectangle {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-roomDevicesNumber {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-roomImage {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-plus_1 {
  -ms-transform: rotate(45.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-enter-name-title {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-cancel-button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-save-button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-add-favorites {
  -ms-transform: rotate(0.0deg);
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Panel_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  border-radius: 19px 19px 19px 19px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-success-message-text {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}