#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-SelectRoomTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-roomDevicesNumber {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Select_Room_Grid .s-roomImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-enter-name-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-cancel-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-save-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-add-favorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0dc8c279-078c-4556-8672-fbb449c1d738 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}