#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-temperature-value {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-temperature-symbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-minus-symbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-plus-symbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-mode-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-top1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-selected3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-bottom2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-selected2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-bottom3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-top3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-selected1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-selected {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-deviceTypeImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-isNotFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-isFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-devicename {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-remove {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-room {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-OFFimage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-OFFlabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-ONimage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-ONlabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-check {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-roomAssociated {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-enter-name-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-cancel-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-save-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-background_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-enter-name-title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-cancel-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-save-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3a1f2409-a066-4a23-bd3c-46d68d1af054 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}