#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-DeviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-roomAssociatedName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-MyCategoriesTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}