#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-Rectangle_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-Rectangle {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-DeviceImage {
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-My_Categories_Grid .s-roomAssociatedName {
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-plus_1 {
  -ms-transform: rotate(45.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-MyCategoriesTitle {
  -ms-transform: rotate(0.0deg);
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-Panel_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  border-radius: 19px 19px 19px 19px;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 #s-success-message-text {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b251fae-9285-4d73-af41-2e0cf3f02ef3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}