#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-RoomTypeGrid .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-RoomTypeGrid .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-RoomTypeGrid .s-roomTypeImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-enter-name-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-cancel-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-save-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-653463f7-6f2a-4fe7-8b9c-b1acae27126a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}