#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-My_Rooms_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-My_Rooms_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-My_Rooms_Grid .s-roomDevicesNumber {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-My_Rooms_Grid .s-roomImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-iconDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-LabelDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-iconMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-LabelMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-iconMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-LabelMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-iconCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-LabelCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-Under_line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-MyRoomsTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-CancelButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-roomChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-roomChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-favoriteChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-favoriteChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-deviceChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea #s-deviceChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97132095-5005-4e5c-9ccf-bb4f038b3dea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}