#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-deviceTypeImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-isNotFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-isFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-devicename {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-remove {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-room {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-OFFimage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-OFFlabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-ONimage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-ONlabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-check {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-roomAssociated {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-enter-name-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-cancel-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-save-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-background_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-enter-name-title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-cancel-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-save-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a148e6f5-fa45-4175-bb17-55861f58aa3c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}