#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-DeviceTypeDataGrid .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-DeviceTypeDataGrid .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-DeviceTypeDataGrid .s-deviceTypeImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-enter-name-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-cancel-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-save-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-add-favorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 #s-success-message-text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b55b4440-c16b-4eaf-9565-6c99f4d3c423 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}