#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-roomAssociatedName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-DeviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-isFavoriteSymbol {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Room_Devices_Grid .s-isActiveSymbo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-iconDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-LabelDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-iconMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-LabelMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-iconMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-LabelMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-iconCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-LabelCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-DeviceTypeName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-CancelButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-roomChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-roomChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-favoriteChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-favoriteChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-deviceChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-deviceChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-NoDevices {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7b0c6e3-4a00-47e3-87d8-f852e22bc9e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}