#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Rectangle_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-deviceTypeImage {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-isNotFavoriteSymbol {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-isFavoriteSymbol {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-devicename {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-remove {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-room {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-OFFimage {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-OFFlabel {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-ONimage {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-ONlabel {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Ellipse_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Ellipse_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-check {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-roomAssociated {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-enter-name-title {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-cancel-button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-save-button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-background_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Panel_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-enter-name-title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-cancel-button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-save-button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-Panel_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  border-radius: 19px 19px 19px 19px;
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 #s-success-message-text {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c09cafcc-4bb8-41b9-9255-f5f15adc5210 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}