#s-c197656f-a2f9-4e91-8c69-83403df9165f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Dynamic_Panel_2 {
  position: absolute;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_2 {
  width: 360px;
  height: 50px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_2 > .layoutWrapper {
  left: 1px;
  top: 1px;
  width: 358px;
  height: 48px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 {
  position: absolute;
  width: 73px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 > .paddingLayer {
  height: 26px;
  width: 73px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 {
  position: absolute;
  width: 80px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_3 > .paddingLayer {
  height: 19px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 {
  position: absolute;
  width: 80px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Input_4 > .paddingLayer {
  height: 19px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 {
  position: absolute;
  width: 80px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 .valign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F0EFF5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F0EFF5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F0EFF5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F0EFF5;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_3 > .paddingLayer {
  height: 18px;
  width: 78px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 {
  position: absolute;
  width: 80px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 .valign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F0EFF5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F0EFF5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F0EFF5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F0EFF5;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Category_4 > .paddingLayer {
  height: 18px;
  width: 78px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 {
  position: absolute;
  width: 50px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 > .paddingLayer {
  height: 26px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_1 {
  width: 360px;
  height: 255px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 255px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room {
  width: 798px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room > table {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Header_1 {
  background-color: transparent;
  background-image: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_1 {
  width: 178px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_3 {
  width: 178px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_5 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_5 {
  width: 178px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_7 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_7 {
  width: 178px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_9 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_9 {
  width: 28px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_11 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_11 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_11 {
  width: 28px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_13 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_13 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Row_cell_13 {
  width: 28px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Current_row_1 {
  background-color: transparent;
  background-image: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_2 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_2 {
  width: 178px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_1 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_4 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_4 {
  width: 178px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Input_2 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_6 {
  width: 178px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_1 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_8 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_8 {
  width: 178px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Category_2 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_10 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_10 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_10 {
  width: 28px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_1 > img, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_1 > svg {
  height: 16px;
  width: 16px;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_12 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_12 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_12 {
  width: 28px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_2 > img, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_2 > svg {
  height: 16px;
  width: 16px;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_14 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_14 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Row_cell_14 {
  width: 28px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_3 {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_3 > img, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Room .s-Image_3 > svg {
  height: 16px;
  width: 16px;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_3 {
  width: 810px;
  height: 35px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 810px;
  height: 35px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Summary_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Summary_1 .valign {
  vertical-align: middle;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Summary_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Summary_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Index_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Index_1 .valign {
  vertical-align: middle;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Index_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Index_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 > .clipping, #s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c197656f-a2f9-4e91-8c69-83403df9165f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}