#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-Rectangle_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-Rectangle {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-devicesNumber {
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-deviceImage {
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-plus_1 {
  -ms-transform: rotate(45.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-MyCategoriesTitle {
  -ms-transform: rotate(0.0deg);
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-NoDevices {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}