#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-devicesNumber {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-My_Categories_Grid .s-deviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-MyCategoriesTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b #s-NoDevices {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da520b3b-d824-43a1-823f-703ccc638a5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}