#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-deviceTypeImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-plus_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -8px;
  margin-top: -9px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}