#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-Rectangle_4 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-Rectangle_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-DeviceTypeDataGrid .s-deviceTypeImage {
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 #s-plus_1 {
  -ms-transform: rotate(45.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ed3fa636-1eab-42ee-9ccb-f800b17331a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}