#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-My_Categories_Grid .s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-My_Categories_Grid .s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-My_Categories_Grid .s-devicesNumber {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-My_Categories_Grid .s-deviceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-iconDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-LabelDevicesOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-iconMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-LabelMyFavorites {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-iconMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-LabelMyRooms {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-iconCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-LabelCategories {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-Under_line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-plus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-MyCategoriesTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-CancelButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-roomChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-roomChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-favoriteChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-favoriteChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-deviceChoiceRectangule {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-deviceChoiceImage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab #s-NoDevices {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fa687ca9-7f6e-47fc-8c0e-8a37aaff29ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}